[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/townericpol
[access "refs/for/refs/*"]
	read = group user/townericpol
	push = group user/townericpol
	label-Code-Review = -2..+2 group user/townericpol
	label-Verified = -1..+1 group user/townericpol
	rebase = group user/townericpol
	removeReviewer = group user/townericpol
	submit = group user/townericpol
[access "refs/heads/*"]
	read = group user/townericpol
	create = group user/townericpol
	push = +force group user/townericpol
	pushMerge = group user/townericpol
[access "refs/tags/*"]
	push = +force group user/townericpol
	pushTag = group user/townericpol
	pushSignedTag = group user/townericpol
